<a href="https://colab.research.google.com/github/muluwork-shegaw/Moodle-Database-Educational-Data-Log-Analysis-/blob/master/Educational_Data_Log_Analysis_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# from google.colab import drive
# drive.mount("/content/drive/")
# %cd "drive/My Drive/"

In [2]:
from sqlalchemy import create_engine
import psycopg2
import pandas as pd
import logging as logger
from IPython.display import display

In [3]:
# queries

count_table_query ='''select count(*)
                        from information_schema.tables
                        where table_schema = 'public';'''

count_all_record = '''SELECT 
                          nspname AS schemaname,relname,reltuples
                      FROM pg_class C
                      LEFT JOIN pg_namespace N ON (N.oid = C.relnamespace)
                      WHERE 
                          nspname NOT IN ('pg_catalog', 'information_schema') AND
                          relkind='r' 
                      ORDER BY reltuples DESC'''
selct_quiz = '''SELECT Extract(HOUR FROM to_timestamp(timecreated)) AS hour, count(*) 
                FROM mdl_logstore_standard_log where action='submitted' AND component like '%quiz%' GROUP BY hour;'''
monthly_usage_time = '''SELECT id, lastaccess - firstaccess AS usagetime,
                        EXTRACT(MONTH FROM to_timestamp (firstaccess)) AS Month
                        FROM mdl_user WHERE confirmed = 1 AND deleted = 0 LIMIT 10;'''


'''

select count(id), 
EXTRACT(HOUR FROM to_timestamp(timecreated)) AS HOUR from mdl_logstore_standard_log 
where action='submitted' AND component='mod_quiz' 
group by EXTRACT(HOUR FROM to_timestamp(timecreated));
'''


count_of_log_events = "select * from mdl_logstore_standard_log"
# count_of_log_events = '''SELECT userid, COUNT(action) AS {action}_count FROM mdl_logstore_standard_log
#                             WHERE action='{action}'GROUP BY userid limit 5''' 
queries = [count_table_query,count_all_record,selct_quiz,monthly_usage_time,count_of_log_events]

In [4]:
def open_local_db(queries,**kwargs):
    
    user = kwargs.get('user','postgres')
    db = kwargs.get('db','moodle')
    #
    output = []
    try:
        connection = psycopg2.connect(user=user,
                      password ="maggiemaggie",
                      host = "127.0.0.1",
                      port = "5432",
                      database = db)
        
        cursor = connection.cursor()
        # Print PostgreSQL Connection properties
        print ( connection.get_dsn_parameters(),"\n")
        for query in queries :
            cursor.execute(query)
            result = cursor.fetchall()
            output.append(result)

            
            
#         result = cursor.execute(";".join(queries))
#         print(pd.Series(output))
        # Print PostgreSQL version
    
        cursor.execute("SELECT version();")
        record = cursor.fetchone()
        
        print("You are connected to - ", record,"\n")
        proot = 'postgresql://{user}@{host}:5432/{database}'.format(**params)
        #print(proot)
        
        logger.info('Connecting to the PostgreSQL database...using sqlalchemy engine')
        engine = create_engine(proot)
        #
    except (Exception, psycopg2.Error) as error :
        logger.error(f"Error while connecting to PostgreSQL {error}")
#     dbisopen = True

    finally:
        #closing database connection.
            if(connection):
                cursor.close()
                connection.close()
                print("PostgreSQL connection is closed")
    return output

# Task -1 
- Have a clear understanding of the moodle database schema - start by studying this page. In parallel do the following

In [5]:
output = open_local_db(queries)

{'user': 'postgres', 'dbname': 'moodle', 'host': '127.0.0.1', 'port': '5432', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'gssencmode': 'prefer', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

ERROR:root:Error while connecting to PostgreSQL name 'params' is not defined

You are connected to -  ('PostgreSQL 11.9, compiled by Visual C++ build 1914, 64-bit',)

PostgreSQL connection is closed

### Q_1
- Download the database and write an SQL script to count 
    - the number of tables

In [6]:
print("the  total number of tables are :", output[0][0][0])

the  total number of tables are : 448

### Q_2
- the number of records in each of the tables given in the MIT section

In [7]:
allNoRecord = pd.Series(output[1])

In [8]:
allNoRecord[0][1]

'mdl_logstore_standard_log'

In [9]:
table_name = []
records = []

for record in allNoRecord :
    table_name.append(record[1])
    records.append(record[2])

# (s.iloc[0])[2]

In [10]:
all_record = pd.DataFrame(list(zip(table_name,records)), 
               columns =['table name', 'record'])

In [11]:
all_record = all_record.set_index("table name",drop =True)

In [12]:
mit = ['mdl_logstore_standard_log',
    'mdl_context',
    'mdl_user',
    'mdl_course',
    'mdl_modules', 
    'mdl_course_modules',
    'mdl_course_modules_completion', 
    'mdl_grade_items',
    'mdl_grade_grades',
    'mdl_grade_categories',
    'mdl_grade_items_history',
    'mdl_grade_grades_history',
    'mdl_grade_categories_history',
    'mdl_forum',
    'mdl_forum_discussions',
    'mdl_forum_posts']

In [13]:
# record of MIT tables
all_record.loc[mit,:]

                                 record
table name
mdl_logstore_standard_log      417554.0
mdl_context                      4359.0
mdl_user                         1052.0
mdl_course                         15.0
mdl_modules                        26.0
mdl_course_modules                290.0
mdl_course_modules_completion    4483.0
mdl_grade_items                   113.0
mdl_grade_grades                 3643.0
mdl_grade_categories               16.0
mdl_grade_items_history           486.0
mdl_grade_grades_history         7108.0
mdl_grade_categories_history       46.0
mdl_forum                          34.0
mdl_forum_discussions              23.0
mdl_forum_posts                   131.0

### Q_3 
- Number of quiz submissions by hour of day

In [14]:
count = []
hour = []
for quiz in output[2]:
    count.append(quiz[1])
    hour.append(quiz[0])
quiz = pd.DataFrame(list(zip(count,hour)), 
               columns =['count', 'hour'])

In [15]:
quiz.set_index('hour',drop=True)

      count
hour
0.0      26
1.0      23
2.0      30
3.0      29
4.0       7
5.0      14
6.0      10
7.0      18
8.0      17
9.0      34
10.0     46
11.0     69
12.0     95
13.0     88
14.0    104
15.0     90
16.0     80
17.0     68
18.0     68
19.0     70
20.0     57
21.0     55
22.0     46
23.0     53

### Q_4
- Monthly usage time of learners who have confirmed and are not deleted

In [16]:
id = []
usagetime = []
month = []
for usage in output[3]:
    id.append(usage[0])
    usagetime.append(usage[1])
    month.append(usage[2])
usagetime = pd.DataFrame(list(zip(id,usagetime,month)), 
               columns =['id', 'usagetime','month'])

In [17]:
usagetime

   id  usagetime  month
0   1          0    1.0
1  20   13189566    2.0
2  15   13903766    2.0
3  36    9586676    2.0
4  44   10458089    2.0
5   8    1830649    1.0
6  13          0    1.0
7  98   12944059    2.0
8  28          0    1.0
9  12          0    1.0

### Q_5
- Count of log events per user for the following verbs: ['loggedin', 'viewed', 'started', ,'submitted', 'uploaded', 'updated', 'searched', 'resumed', 'answered', 'attempted', 'abandoned']

In [18]:
log_stores = pd.DataFrame(output[4])
log_store =log_stores[[0,3]]
log_store.columns

Int64Index([0, 3], dtype='int64')

In [19]:
log_store.columns = ["id","action"]

In [20]:
actions = ['loggedin', 'viewed', 'started', 'submitted', 'uploaded', 'updated', 
 'searched', 'resumed', 'answered', 'attempted', 'abandoned']

log_store_count = log_store.groupby('action')['id'].count()
log_store_count

action
abandoned             5
accepted              6
added              4728
answered            362
archived              1
assessed              8
assigned          12800
awarded            1698
becameoverdue         5
called            12391
completed           304
created           20295
deleted             684
disabled             10
downloaded            1
duplicated            4
enabled              20
ended              1880
exported              7
failed             7583
graded             4001
indexed             490
loggedin           4444
loggedinas            6
loggedout           549
moved                 6
previewed            15
printed              94
removed               1
reset                69
restarted           217
restored              5
resumed            1422
reviewed           1844
saved               913
searched             14
sent             200862
shown              3461
started            3679
submitted          2288
text                 12
unassigned          373
updated            9657
uploaded            173
viewed           120167
Name: id, dtype: int64

In [21]:
log_store_count = pd.DataFrame(log_store_count)
log_store_count.loc[actions, :]

C:\Users\Maggie\anaconda3\envs\quast-env\lib\site-packages\pandas\core\indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

                 id
action
loggedin     4444.0
viewed     120167.0
started      3679.0
submitted    2288.0
uploaded      173.0
updated      9657.0
searched       14.0
resumed      1422.0
answered      362.0
attempted       NaN
abandoned       5.0

### Q_6
- Write a python class to pull Overall grade of learners for Number of forum posts

In [22]:
%reload_ext sql

In [23]:
%sql postgresql://postgres:maggiemaggie@localhost/moodle

In [24]:
%%sql

select count(*)
from information_schema.tables
where table_schema = 'public';

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(448,)]

In [171]:
class DBHandler():
    def __init__(self):
        pass # for upcoming 
    
    def open_local_db(self,**kwargs):
        #
        user = kwargs.get('user','postgres')
#         password = kwargs.get('password', 'ns_pass')
        db = kwargs.get('db','moodle')
        #
        try:
            params = dict(user=user,
                          password="maggiemaggie",
                          host = "127.0.0.1",
                          #port = "5432",
                          database = db)
            proot = 'postgresql://{user}:{password}@{host}/{database}'.format(**params)
            #print(proot)
#             logger.info('Connecting to the PostgreSQL database...using sqlalchemy engine')
            engine = create_engine(proot)
            #
        except (Exception, psycopg2.Error) as error :
            logger.error(f"Error while connecting to PostgreSQL {error}")
        self.dbisopen = True
        return engine
    
    def forum_posts(self):
        count = %sql select count(*) from mdl_forum_posts
        return count
    
    def overall_grade(self):
        overall = %sql select userid, round(SUM(finalgrade)/count(*), 2) as overall_grade from mdl_grade_grades Where finalgrade is not null group by userid
        return overall
    def dedication_time(self,engine):

        log_df=pd.read_sql('mdl_logstore_standard_log', engine)
        print(type(log_df))
        user_id =  log_df.userid.unique()
        d_times = {}
        for user in user_id:
            log_user = log_df[log_df.userid == user].sort_values('timecreated')

            d_time = 0 
            isLoggedIn = 0
            loggedIn_timecreated = 0

            for i in range(len(log_user)): 
                row = log_user.iloc[i,]

                row_next = log_user.iloc[i+1,] if i+1 < len(log_user) else row

                if(row.action == "loggedin"): 
                    isLoggedIn = 1
                    loggedIn_timecreated = row.timecreated
                if( (i+1 == len(log_user)) | ( (row_next.action == "loggedin") & (isLoggedIn == 1) ) ):
                    d_time += row.timecreated - loggedIn_timecreated
                    isLoggedIn = 0
            d_times[user] = d_time  
        dedication_time_df = pd.DataFrame({'userid':list(d_times.keys()),
                                  'dedication_time':list(d_times.values())})
        return dedication_time_df
    def count_login(self):
        login_count = %sql select userid, count(*) as login_count from mdl_logstore_standard_log Where action ='loggedin' group by userid
        return login_count
    def count_activity(self):
        activity_count = %sql select userid, count(*) as activity_count from mdl_logstore_standard_log Where action is not null group by userid
        return activity_count
    def top(selfmetrics):
        tops =[]

        percents = [1,5,10,25]
        for top in  percents:
            print("------------top - {}%----------".format(top))
            meterices= []
            for metric in metrics:
        #         print(metric)
                result = metric.nlargest(int(len(metric[metric.columns[1]])*(top/100)),metric.columns[1])
                print(result)
                meterices.append(result.head(3))

            tops.append(meterices)

        return tops

In [172]:
local_db = DBHandler()
engine = local_db.open_local_db()
engine

Engine(postgresql://postgres:***@127.0.0.1/moodle)

In [173]:
local_db.forum_posts()

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(131,)]

- Overall grade of learners for Number of forum posts

In [175]:
local_db.overall_grade()

 * postgresql://postgres:***@localhost/moodle
402 rows affected.

[(351, Decimal('69.67')),
 (87, Decimal('100.00')),
 (184, Decimal('100.00')),
 (116, Decimal('72.89')),
 (273, Decimal('100.00')),
 (394, Decimal('0.00')),
 (51, Decimal('48.53')),
 (272, Decimal('51.00')),
 (70, Decimal('100.00')),
 (190, Decimal('135.92')),
 (278, Decimal('71.11')),
 (176, Decimal('100.00')),
 (169, Decimal('100.00')),
 (299, Decimal('51.25')),
 (92, Decimal('100.00')),
 (541, Decimal('50.50')),
 (436, Decimal('2.00')),
 (180, Decimal('83.47')),
 (292, Decimal('100.00')),
 (236, Decimal('69.33')),
 (22, Decimal('100.00')),
 (271, Decimal('57.33')),
 (263, Decimal('72.89')),
 (156, Decimal('71.19')),
 (197, Decimal('100.00')),
 (135, Decimal('52.00')),
 (470, Decimal('100.00')),
 (759, Decimal('75.00')),
 (879, Decimal('97.00')),
 (227, Decimal('100.00')),
 (775, Decimal('195.08')),
 (282, Decimal('46.93')),
 (390, Decimal('91.67')),
 (173, Decimal('100.00')),
 (149, Decimal('46.13')),
 (269, Decimal('100.00')),
 (73, Decimal('76.07')),
 (261, Decimal('100.00')),
 (103, Decimal('64.67')),
 (502, Decimal('2.00')),
 (280, Decimal('82.14')),
 (42, Decimal('167.78')),
 (189, Decimal('74.96')),
 (117, Decimal('100.00')),
 (239, Decimal('100.00')),
 (161, Decimal('47.73')),
 (121, Decimal('43.73')),
 (88, Decimal('136.05')),
 (420, Decimal('58.17')),
 (188, Decimal('52.00')),
 (113, Decimal('100.00')),
 (125, Decimal('100.00')),
 (257, Decimal('100.00')),
 (40, Decimal('73.11')),
 (240, Decimal('100.00')),
 (328, Decimal('160.39')),
 (43, Decimal('48.27')),
 (196, Decimal('100.00')),
 (120, Decimal('71.56')),
 (291, Decimal('71.56')),
 (15, Decimal('100.00')),
 (440, Decimal('102.89')),
 (226, Decimal('100.00')),
 (210, Decimal('61.62')),
 (843, Decimal('43.73')),
 (48, Decimal('64.67')),
 (349, Decimal('48.53')),
 (187, Decimal('100.00')),
 (914, Decimal('53.00')),
 (842, Decimal('196.88')),
 (298, Decimal('100.00')),
 (57, Decimal('73.20')),
 (81, Decimal('100.00')),
 (19, Decimal('100.00')),
 (61, Decimal('41.89')),
 (244, Decimal('100.00')),
 (160, Decimal('52.00')),
 (721, Decimal('100.00')),
 (242, Decimal('64.19')),
 (331, Decimal('50.50')),
 (251, Decimal('100.00')),
 (204, Decimal('100.00')),
 (104, Decimal('100.00')),
 (266, Decimal('167.87')),
 (5, Decimal('57.24')),
 (171, Decimal('100.00')),
 (307, Decimal('2.00')),
 (397, Decimal('0.00')),
 (91, Decimal('100.00')),
 (427, Decimal('163.48')),
 (786, Decimal('55.56')),
 (283, Decimal('100.00')),
 (347, Decimal('158.30')),
 (29, Decimal('100.00')),
 (179, Decimal('41.87')),
 (54, Decimal('54.50')),
 (686, Decimal('60.00')),
 (297, Decimal('100.00')),
 (181, Decimal('100.00')),
 (361, Decimal('66.00')),
 (96, Decimal('100.00')),
 (201, Decimal('168.03')),
 (303, Decimal('7.00')),
 (844, Decimal('10.00')),
 (105, Decimal('43.60')),
 (107, Decimal('71.67')),
 (233, Decimal('72.11')),
 (866, Decimal('141.10')),
 (220, Decimal('100.00')),
 (86, Decimal('46.80')),
 (400, Decimal('9.00')),
 (991, Decimal('100.00')),
 (93, Decimal('100.00')),
 (89, Decimal('100.00')),
 (373, Decimal('8.00')),
 (219, Decimal('100.00')),
 (1025, Decimal('245.45')),
 (175, Decimal('100.00')),
 (252, Decimal('100.00')),
 (241, Decimal('40.67')),
 (31, Decimal('100.00')),
 (363, Decimal('180.15')),
 (723, Decimal('55.00')),
 (285, Decimal('100.00')),
 (50, Decimal('82.52')),
 (253, Decimal('100.00')),
 (581, Decimal('125.52')),
 (14, Decimal('100.00')),
 (66, Decimal('100.00')),
 (231, Decimal('100.00')),
 (340, Decimal('166.43')),
 (109, Decimal('100.00')),
 (356, Decimal('100.00')),
 (13, Decimal('100.00')),
 (155, Decimal('100.00')),
 (133, Decimal('61.24')),
 (195, Decimal('100.00')),
 (199, Decimal('50.50')),
 (372, Decimal('62.38')),
 (75, Decimal('100.00')),
 (246, Decimal('167.56')),
 (369, Decimal('123.08')),
 (128, Decimal('100.00')),
 (714, Decimal('55.00')),
 (339, Decimal('10.00')),
 (243, Decimal('100.00')),
 (166, Decimal('100.00')),
 (344, Decimal('143.97')),
 (142, Decimal('100.00')),
 (924, Decimal('166.00')),
 (410, Decimal('183.71')),
 (534, Decimal('0.00')),
 (152, Decimal('100.00')),
 (428, Decimal('48.53')),
 (591, Decimal('53.88')),
 (383, Decimal('128.18')),
 (230, Decimal('100.00')),
 (747, Decimal('7.33')),
 (7, Decimal('100.00')),
 (301, Decimal('63.05')),
 (222, Decimal('69.56')),
 (381, Decimal('110.18')),
 (38, Decimal('56.00')),
 (757, Decimal('46.80')),
 (359, Decimal('100.00')),
 (193, Decimal('100.00')),
 (777, Decimal('27.78')),
 (164, Decimal('100.00')),
 (254, Decimal('70.60')),
 (377, Decimal('149.28')),
 (78, Decimal('51.00')),
 (453, Decimal('72.44')),
 (922, Decimal('100.00')),
 (159, Decimal('72.89')),
 (217, Decimal('174.96')),
 (186, Decimal('100.00')),
 (250, Decimal('63.62')),
 (47, Decimal('100.00')),
 (177, Decimal('100.00')),
 (20, Decimal('53.00')),
 (865, Decimal('196.10')),
 (750, Decimal('6.00')),
 (319, Decimal('0.00')),
 (182, Decimal('50.87')),
 (517, Decimal('9.33')),
 (106, Decimal('100.00')),
 (18, Decimal('100.00')),
 (110, Decimal('100.00')),
 (178, Decimal('100.00')),
 (145, Decimal('70.96')),
 (129, Decimal('100.00')),
 (27, Decimal('100.00')),
 (143, Decimal('72.07')),
 (203, Decimal('55.50')),
 (58, Decimal('68.61')),
 (228, Decimal('156.03')),
 (789, Decimal('100.00')),
 (346, Decimal('44.53')),
 (294, Decimal('111.69')),
 (71, Decimal('72.00')),
 (267, Decimal('100.00')),
 (229, Decimal('100.00')),
 (68, Decimal('100.00')),
 (80, Decimal('69.89')),
 (146, Decimal('44.00')),
 (52, Decimal('52.50')),
 (930, Decimal('245.45')),
 (607, Decimal('150.07')),
 (382, Decimal('171.40')),
 (162, Decimal('100.00')),
 (258, Decimal('73.00')),
 (341, Decimal('184.59')),
 (378, Decimal('48.53')),
 (132, Decimal('68.67')),
 (738, Decimal('100.00')),
 (84, Decimal('71.56')),
 (170, Decimal('159.07')),
 (192, Decimal('100.00')),
 (276, Decimal('100.00')),
 (101, Decimal('100.00')),
 (237, Decimal('54.00')),
 (69, Decimal('54.50')),
 (262, Decimal('66.52')),
 (348, Decimal('48.53')),
 (375, Decimal('52.00')),
 (114, Decimal('100.00')),
 (115, Decimal('71.85')),
 (60, Decimal('67.67')),
 (97, Decimal('100.00')),
 (238, Decimal('100.00')),
 (112, Decimal('100.00')),
 (108, Decimal('51.00')),
 (729, Decimal('100.00')),
 (59, Decimal('100.00')),
 (268, Decimal('73.78')),
 (289, Decimal('72.89')),
 (737, Decimal('100.00')),
 (65, Decimal('33.67')),
 (127, Decimal('100.00')),
 (124, Decimal('100.00')),
 (615, Decimal('103.67')),
 (98, Decimal('74.50')),
 (567, Decimal('66.08')),
 (200, Decimal('100.00')),
 (44, Decimal('64.19')),
 (235, Decimal('72.44')),
 (82, Decimal('100.00')),
 (119, Decimal('100.00')),
 (306, Decimal('8.00')),
 (286, Decimal('68.48')),
 (376, Decimal('47.73')),
 (153, Decimal('55.50')),
 (279, Decimal('100.00')),
 (147, Decimal('114.53')),
 (480, Decimal('194.00')),
 (214, Decimal('100.00')),
 (202, Decimal('100.00')),
 (9, Decimal('70.67')),
 (79, Decimal('100.00')),
 (989, Decimal('194.67')),
 (26, Decimal('100.00')),
 (85, Decimal('100.00')),
 (72, Decimal('100.00')),
 (945, Decimal('54.50')),
 (281, Decimal('100.00')),
 (95, Decimal('167.37')),
 (1041, Decimal('51.00')),
 (232, Decimal('100.00')),
 (77, Decimal('100.00')),
 (259, Decimal('164.22')),
 (302, Decimal('100.00')),
 (172, Decimal('100.00')),
 (409, Decimal('51.50')),
 (30, Decimal('100.00')),
 (288, Decimal('100.00')),
 (21, Decimal('100.00')),
 (131, Decimal('53.50')),
 (3, Decimal('100.00')),
 (17, Decimal('100.00')),
 (198, Decimal('75.00')),
 (28, Decimal('100.00')),
 (37, Decimal('100.00')),
 (212, Decimal('100.00')),
 (1027, Decimal('183.76')),
 (917, Decimal('66.67')),
 (249, Decimal('100.00')),
 (353, Decimal('55.58')),
 (489, Decimal('51.00')),
 (255, Decimal('72.44')),
 (165, Decimal('124.69')),
 (813, Decimal('54.50')),
 (56, Decimal('71.89')),
 (151, Decimal('53.00')),
 (209, Decimal('73.78')),
 (296, Decimal('71.11')),
 (74, Decimal('100.00')),
 (138, Decimal('46.93')),
 (225, Decimal('47.07')),
 (245, Decimal('100.00')),
 (205, Decimal('100.00')),
 (83, Decimal('100.00')),
 (67, Decimal('45.47')),
 (63, Decimal('100.00')),
 (90, Decimal('153.86')),
 (216, Decimal('100.00')),
 (174, Decimal('42.93')),
 (45, Decimal('167.08')),
 (443, Decimal('100.00')),
 (387, Decimal('195.35')),
 (295, Decimal('100.00')),
 (484, Decimal('100.00')),
 (213, Decimal('79.92')),
 (134, Decimal('71.56')),
 (274, Decimal('64.48')),
 (144, Decimal('100.00')),
 (39, Decimal('48.00')),
 (801, Decimal('88.89')),
 (918, Decimal('10.00')),
 (163, Decimal('100.00')),
 (168, Decimal('85.73')),
 (223, Decimal('84.40')),
 (36, Decimal('100.00')),
 (287, Decimal('100.00')),
 (362, Decimal('103.49')),
 (221, Decimal('100.00')),
 (752, Decimal('100.00')),
 (102, Decimal('208.48')),
 (167, Decimal('130.50')),
 (158, Decimal('72.00')),
 (277, Decimal('71.78')),
 (594, Decimal('62.07')),
 (290, Decimal('165.12')),
 (683, Decimal('100.00')),
 (300, Decimal('100.00')),
 (118, Decimal('79.93')),
 (265, Decimal('100.00')),
 (284, Decimal('155.44')),
 (111, Decimal('100.00')),
 (16, Decimal('43.73')),
 (207, Decimal('100.00')),
 (62, Decimal('100.00')),
 (123, Decimal('78.63')),
 (126, Decimal('78.89')),
 (194, Decimal('70.50')),
 (385, Decimal('135.93')),
 (99, Decimal('64.38')),
 (367, Decimal('100.00')),
 (374, Decimal('48.13')),
 (1019, Decimal('100.00')),
 (41, Decimal('100.00')),
 (46, Decimal('100.00')),
 (206, Decimal('100.00')),
 (224, Decimal('100.00')),
 (586, Decimal('166.14')),
 (157, Decimal('100.00')),
 (32, Decimal('100.00')),
 (53, Decimal('100.00')),
 (275, Decimal('100.00')),
 (247, Decimal('100.00')),
 (260, Decimal('71.56')),
 (618, Decimal('0.00')),
 (100, Decimal('100.00')),
 (183, Decimal('100.00')),
 (136, Decimal('100.00')),
 (150, Decimal('100.00')),
 (354, Decimal('47.87')),
 (139, Decimal('50.00')),
 (140, Decimal('53.50')),
 (593, Decimal('7.00')),
 (12, Decimal('100.00')),
 (248, Decimal('100.00')),
 (137, Decimal('104.67')),
 (208, Decimal('100.00')),
 (293, Decimal('100.00')),
 (411, Decimal('46.93')),
 (392, Decimal('100.00')),
 (24, Decimal('100.00')),
 (191, Decimal('100.00')),
 (25, Decimal('36.89')),
 (122, Decimal('100.00')),
 (94, Decimal('100.00')),
 (141, Decimal('50.50')),
 (218, Decimal('100.00')),
 (154, Decimal('100.00')),
 (434, Decimal('47.60')),
 (49, Decimal('100.00')),
 (234, Decimal('72.22')),
 (211, Decimal('100.00')),
 (256, Decimal('56.00')),
 (449, Decimal('152.16')),
 (64, Decimal('100.00')),
 (264, Decimal('100.00')),
 (185, Decimal('90.36')),
 (215, Decimal('100.00')),
 (742, Decimal('82.89')),
 (55, Decimal('55.50')),
 (148, Decimal('54.50')),
 (130, Decimal('67.00')),
 (23, Decimal('100.00')),
 (270, Decimal('56.00')),
 (846, Decimal('195.48')),
 (486, Decimal('58.08'))]

# Task 2

- Compute dedication time (see note below)

In [101]:
dedication_time = local_db.dedication_time(engine)

<class 'pandas.core.frame.DataFrame'>

 - Compute login and activity counts.

In [99]:
count_login = local_db.count_login()
count_login =pd.DataFrame(count_activity,columns = ["userid","login_count"])
count_login

 * postgresql://postgres:***@localhost/moodle
600 rows affected.

      userid  login_count
0        -10            1
1         -1         2170
2          0         7257
3          1            3
4          2        45023
...      ...          ...
1044    1048           30
1045    1049            9
1046    1050           12
1047    1051            9
1048    1052            9

[1049 rows x 2 columns]

In [100]:
count_activity =local_db.count_activity()
count_activity =pd.DataFrame(count_activity,columns = ["userid","activity_count"])
count_activity

 * postgresql://postgres:***@localhost/moodle
1049 rows affected.

      userid  activity_count
0        -10               1
1         -1            2170
2          0            7257
3          1               3
4          2           45023
...      ...             ...
1044    1048              30
1045    1049               9
1046    1050              12
1047    1051               9
1048    1052               9

[1049 rows x 2 columns]

- Based on the following metrics, group students as top 1%, 5%, 10%, 25%
    - Login count
    - Activity count
    - Dedication time

In [105]:
count_login.nlargest(int(len(count_login["login_count"])*(1/100)),['login_count'])

     userid  login_count
4         2        45023
242     246        13917
5         3        12922
913     917        10696
577     581        10533
286     290         8558
343     347         7320
2         0         7257
603     607         6461
340     344         6019

In [169]:
results = top([count_login,count_activity,dedication_time])

------------top - 1%----------
     userid  login_count
4         2        45023
242     246        13917
5         3        12922
913     917        10696
577     581        10533
286     290         8558
343     347         7320
2         0         7257
603     607         6461
340     344         6019
     userid  activity_count
4         2           45023
242     246           13917
5         3           12922
913     917           10696
577     581           10533
286     290            8558
343     347            7320
2         0            7257
603     607            6461
340     344            6019
     userid  dedication_time
0         0       1564600616
25       -1       1564597508
104     245       1563801729
228     191       1563801729
232     154       1563801729
238     111       1563801729
245     300       1563801729
252      79       1563801729
261     279       1563801729
292     283       1563801729
------------top - 5%----------
      userid  login_count
4          2        45023
242      246        13917
5          3        12922
913      917        10696
577      581        10533
286      290         8558
343      347         7320
2          0         7257
603      607         6461
340      344         6019
161      165         6015
224      228         5063
197      201         4964
38        42         4916
86        90         4644
365      369         4608
324      328         4297
41        45         4241
476      480         4232
738      742         4220
91        95         4004
262      266         3902
582      586         3857
73        77         3832
875      879         3725
782      786         3692
373      377         3459
1021    1025         3404
563      567         3345
206      210         3075
378      382         2994
445      449         2921
862      866         2863
53        57         2836
386      390         2794
842      846         2792
44        48         2710
57        61         2669
773      777         2608
181      185         2522
166      170         2450
381      385         2373
379      383         2260
54        58         2241
255      259         2211
1         -1         2170
682      686         2080
336      340         2016
838      842         1980
424      428         1939
416      420         1927
94        98         1910
      userid  activity_count
4          2           45023
242      246           13917
5          3           12922
913      917           10696
577      581           10533
286      290            8558
343      347            7320
2          0            7257
603      607            6461
340      344            6019
161      165            6015
224      228            5063
197      201            4964
38        42            4916
86        90            4644
365      369            4608
324      328            4297
41        45            4241
476      480            4232
738      742            4220
91        95            4004
262      266            3902
582      586            3857
73        77            3832
875      879            3725
782      786            3692
373      377            3459
1021    1025            3404
563      567            3345
206      210            3075
378      382            2994
445      449            2921
862      866            2863
53        57            2836
386      390            2794
842      846            2792
44        48            2710
57        61            2669
773      777            2608
181      185            2522
166      170            2450
381      385            2373
379      383            2260
54        58            2241
255      259            2211
1         -1            2170
682      686            2080
336      340            2016
838      842            1980
424      428            1939
416      420            1927
94        98            1910
      userid  dedication_time
0          0       1564600616
25        -1       1564597508
104      245       1563801729
228      191       1563801729
232      154       1563801729
238      111       1563801729
245      300       1563801729
252       79       1563801729
261      279       1563801729
292      283       1563801729
324      324       1563801729
325      325       1563801729
326      326       1563801729
328      329       1563801729
334      335       1563801729
335      336       1563801729
336      337       1563801729
337      338       1563801729
343      345       1563801729
350      352       1563801729
356      358       1563801729
358      360       1563801729
362      364       1563801729
363      365       1563801729
364      366       1563801729
858      968       1563801729
871      970       1563801729
873      969       1563801729
890      739       1563801729
896      872       1563801729
946      963       1563801729
947      956       1563801729
948      949       1563801729
950      947       1563801729
951      944       1563801729
952      942       1563801729
953      938       1563801729
954      937       1563801729
955      936       1563801729
956      935       1563801729
957      934       1563801729
958      933       1563801729
959      932       1563801729
960      928       1563801729
961      927       1563801729
962      925       1563801729
965      967       1563801729
966      966       1563801729
1008    1000       1563801729
1009     998       1563801729
1010     997       1563801729
1011     996       1563801729
------------top - 10%----------
      userid  login_count
4          2        45023
242      246        13917
5          3        12922
913      917        10696
577      581        10533
...      ...          ...
246      250          908
1015    1019          907
297      301          903
47        51          900
755      759          896

[104 rows x 2 columns]
      userid  activity_count
4          2           45023
242      246           13917
5          3           12922
913      917           10696
577      581           10533
...      ...             ...
246      250             908
1015    1019             907
297      301             903
47        51             900
755      759             896

[104 rows x 2 columns]
     userid  dedication_time
0         0       1564600616
25       -1       1564597508
104     245       1563801729
228     191       1563801729
232     154       1563801729
..      ...              ...
636     640       1563801728
649     653       1563801728
657     661       1563801728
664     668       1563801728
671     675       1563801728

[104 rows x 2 columns]
------------top - 25%----------
     userid  login_count
4         2        45023
242     246        13917
5         3        12922
913     917        10696
577     581        10533
..      ...          ...
679     683          130
67       71          128
102     106          128
147     151          126
215     219          126

[262 rows x 2 columns]
     userid  activity_count
4         2           45023
242     246           13917
5         3           12922
913     917           10696
577     581           10533
..      ...             ...
679     683             130
67       71             128
102     106             128
147     151             126
215     219             126

[262 rows x 2 columns]
     userid  dedication_time
0         0       1564600616
25       -1       1564597508
104     245       1563801729
228     191       1563801729
232     154       1563801729
..      ...              ...
643     647       1563801727
644     648       1563801727
645     649       1563801727
647     651       1563801727
648     652       1563801727

[262 rows x 2 columns]

In [170]:
# top 1%
result_1 = results[0]
# top 5%
result_5 = results[1]
# top 10%
result_10 = results[2]
# top 25%
result_25 = results[3]